{% extends "base.html" %}
{% block content %}
    <title>หน้าฟอร์ม</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  </head>
  <body>
    <div class="container">
    <div class="w3-container w3-blue">
      <div class="header">
        ระบบทำนายผลความสามารถในการผ่านรายวิชาบังคับ
      </div>
    </div>
    <div class="mainform">
    <div class="inform"> 
    <div class="formheadtext1">
     <h1> รายวิชาที่ทำนาย</h1>
     </div>
    {% for subject_info in subject_info %}
        {% if subject_info.subjectID == subjectID %}
        <div class="formcontenttext1">
          {{subject_info.subjectID}}
          {{subject_info.subject_name_th}}
          {{subject_info.subject_name_eng}}
          <br>
          </div>
        {% endif %}
     {% endfor %} 
     <div class="aboutsubject">
     <div class="formheadtext2">
       <h2>รายวิชาที่เกี่ยวข้อง</h2>
    </div>
    <form action="reports?subjectID={{subjectID}}" method="post">
    {% csrf_token %}
<!--##########################Refer_subject######################################################-->
    
    {% for subject_info_1 in subject_info %}
      {% for subject_refer_index in subject_refer_index %}
        {% if subject_info_1.subjectID == subject_refer_index %}
        <div class="crop">
        <div class="subjectcode">
          {{subject_info_1.subjectID}}
          {{subject_info_1.subject_name_th}}
          {{subject_info_1.subject_name_eng}}
        </div>
        {% endif %}
      {% endfor %} 

     {% for subject_refer_index in subject_refer_index %}
        {% if subject_info_1.subjectID == subject_refer_index %}
          {% for subject_info_2 in subject_info %}
            {% if subject_info_2.subjectID == subject_refer_index %}
            <!--##########################Grade######################################################-->
            <div class="grade">
            ผลการเรียน
              <select id="grade_{{subject_info_2.subjectID}}" name="grade_{{subject_info_2.subjectID}}">
                <option value="4">A</option>
                <option value="3.5">B+</option>
                <option value="3">B</option>
                <option value="2.5">C+</option>
                <option value="2">C</option>
                <option value="1.5">D+</option>
                <option value="1">D</option>
                <option value="0">F</option>
                <option value="0">No Entry</option>
              </select>
              </div>
              <br>
               </div>
            {% endif %}
          {% endfor %}
         
        {% endif %}
        
      {% endfor %} 
      
    {% endfor %} 
    
<!--################################################################################-->
    <div class="buttonalign">
    <button class="button">ยืนยัน</button>
    </div>
    </form>
    </div>
    </div>
  </div>
  <div class="footer">
    ระบบทำนายผลระดับความสามารถในการผ่านรายวิชาชีพบังคับ ส่วนหนึ่งของการศึกษาตามหลักสูตรวิศวกรรมศาสตรบัณฑิต
    สาขาวิชาวิศวกรรมคอมพิวเตอร์ คณะวิศวกรรมศาสตร์ มหาวิทยาลัยเทคโนโลยีราชมงคลล้านนา ปีการศึกษา 2564
  </div>
</div>
  </body>
{% endblock content %}