{% extends "base.html" %}
{% block content %}
  <title>เข้าสู่ระบบ</title>
  </head>
  <body>
    <div class="container">
      <div class="header">
        ระบบทำนายผลระดับความสารมารถในการผ่านรายวิชาชีพบังคับ
      </div>
      <div class="main">
            <h1>กรุณากรอกรหัสนักศึกษา</h1>
            <form method="post">
              {% csrf_token %}
              {{ form }}
              <input type="Submit" value="ตรวจสอบ">
            </form>
      </div>
      <div class="footer">
          ส่วนหนึงของรายวิชาโครงการ
      </div>
    </div>
  </body>
{% endblock content %}