{% extends "base.html" %}
{% block content %}
  <title>เข้าสู่ระบบ</title>
  </head>
  <body>
    <div class="container">
      <div class="header">
        ระบบทำนายผลระดับความสารมารถในการผ่านรายวิชาชีพบังคับ
     </div>
     <div class="main">
     <table width="100%">
      <tr class="maintitle">
          <h1>กรุณากรอกรหัสนักศึกษา</h1>
      </tr>
      <tr class="mainform">
        <form method="post">
          {% csrf_token %}
          {{ form }}
          <input type="Submit" value="ตรวจสอบ">
        </form>
      </tr>
     </table>
     </div>
      <div class="footer">
          ส่วนหนึงของรายวิชาโครงการ
        </div>
    </div>
  </body>
{% endblock content %}