{% extends "base.html" %}
{% block content %}
    <title>หน้าฟอร์ม</title>
  </head>
  <body>
    <h1>กรุณากรอกรายวิชาที่เกี่ยวข้อง</h1>
    {% for subject_info in subject_info %}
        {% if subject_info.subjectID == subjectID %}
          {{subject_info.subjectID}}
          {{subject_info.subject_name_th}}
          {{subject_info.subject_name_eng}}
          <br>
        {% endif %}
     {% endfor %} 
    <h1>รายวิชาที่เกี่ยวข้อง</h1>

    {% for subject_info_1 in subject_info %}
      {% for subject_refer_index in subject_refer_index %}
        {% if subject_info_1.subjectID == subject_refer_index %}
          {{subject_info_1.subjectID}}
          {{subject_info_1.subject_name_th}}
          {{subject_info_1.subject_name_eng}}
          {% for InstructorID in InstructorID %}
            {% if InstructorID.0 == subject_info_1.subjectID %}
              {%  for Instructor_info in Instructor_info %}
                {% if Instructor_info.Instructor_ID == InstructorID.1 %}
                  <br>อาจารย์ผู้สอนรายวิชาที่คุณเลือก :{{Instructor_info.Instructor_name}}
                  <br>ผลการเรียนที่คุณกรอก : {{InstructorID.2}}
                {% endif %}
              {% endfor %}
            {% endif %}
          {% endfor %}
          <br>
        {% endif %}
      {% endfor %} 
    {% endfor %} 
  </body>
{% endblock content %}