{% extends "base.html" %}
{% block content %}
{% load static %} 

  <title>เลือกรายวิชา</title>
  </head>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <body>
    <div class="container">
      <div class="w3-container w3-blue">
      <div class="crop">
        <div class="header">
            ระบบทำนายผลความสามารถในการผ่านรายวิชาบังคับ  
          </div>
          <div class="right">
            <a href="{% url 'login' %}">logout</a>
          </div>
        </div>
      </div>
      <div class="mainselect">
        <table  align="center">
          <tr height="200">
          {% for menu in subject_menu %}
            {% for subject_info in subject_info %}
              {% if menu.subjectID == subject_info.subjectID %}
                <td width="190">
                  <a href="{% url 'forms' %}?subjectID={{menu.subjectID}}">
                    <div class="containerimg">
                      <img src="{% static "" %}{{menu.img_menu}}"  alt="{{menu.subjectID}}" width="180" />
                      <div class="overlay">
                        <div class="text"></div>
                      </div>
                    </div>
                  </a>
                </td>
              {% endif %}
            {% endfor %}
            {% if menu.menu_id|divisibleby:5 %}</tr><tr height="200">{% endif %}
          {% endfor %}
          </tr>
        </table>
      </div>
        <div class="footer">
          ระบบทำนายผลระดับความสามารถในการผ่านรายวิชาชีพบังคับ ส่วนหนึ่งของการศึกษาตามหลักสูตรวิศวกรรมศาสตรบัณฑิต
      สาขาวิชาวิศวกรรมคอมพิวเตอร์ คณะวิศวกรรมศาสตร์ มหาวิทยาลัยเทคโนโลยีราชมงคลล้านนา ปีการศึกษา 2564
        </div>
    </div>
  </body>
{% endblock content %}