{% extends "base.html" %}
{% block content %}
{% load static %} 
  <title>เลือกรายวิชา</title>
  </head>
  <body>
    <div class="container">
      <div class="header">
        ระบบทำนายผลระดับความสารมารถในการผ่านรายวิชาชีพบังคับ
     </div>


      <div class="menu">
        <h1>กรุณาเลือกรายวิชาที่ต้องการทำนายผล</h1>
          <table  align="center">
            <tr>
              <td><a href="{% url 'forms' %}?subjectID=ENGCE101"><img src="{% static "images/ENGCE101.png" %}" alt="ENGCE101" width="180"/></a></td>
              <td><a href="{% url 'forms' %}?subjectID=ENGCE102"><img src="{% static "images/ENGCE102.png" %}" alt="ENGCE102" width="180"/></a></td>
              <td><a href="{% url 'forms' %}?subjectID=ENGCE103"><img src="{% static "images/ENGCE103.png" %}" alt="ENGCE103" width="180"/></a></td>
              <td><a href="{% url 'forms' %}?subjectID=ENGCE104"><img src="{% static "images/ENGCE104.png" %}" alt="ENGCE104" width="180"/></a></td>
              <td><a href="{% url 'forms' %}?subjectID=ENGCE105"><img src="{% static "images/ENGCE105.png" %}" alt="ENGCE105" width="180"/></a></td>
            </tr>
             <tr>
              <td><a href="{% url 'forms' %}?subjectID=ENGCE106"><img src="{% static "images/ENGCE106.png" %}" alt="ENGCE106" width="180"/></td>
              <td><a href="{% url 'forms' %}?subjectID=ENGCE107"><img src="{% static "images/ENGCE107.png" %}" alt="ENGCE107" width="180"/></td>
              <td><a href="{% url 'forms' %}?subjectID=ENGCE108"><img src="{% static "images/ENGCE108.png" %}" alt="ENGCE108" width="180"/></td>
              <td><a href="{% url 'forms' %}?subjectID=ENGCE109"><img src="{% static "images/ENGCE109.png" %}" alt="ENGCE109" width="180"/></td>
              <td><a href="{% url 'forms' %}?subjectID=ENGCE110"><img src="{% static "images/ENGCE110.png" %}" alt="ENGCE1110" width="180"/></td>
            </tr>
             <tr>
              <td colspan="5">
                <table align="center">
                  <tr>
                    <td><a href="{% url 'forms' %}?subjectID=ENGCE111"><img src="{% static "images/ENGCE111.png" %}" alt="ENGCE111" width="180"/></td>
                    <td><a href="{% url 'forms' %}?subjectID=ENGCE112"><img src="{% static "images/ENGCE112.png" %}" alt="ENGCE112" width="180"/></td>
                    <td><a href="{% url 'forms' %}?subjectID=ENGEL105"><img src="{% static "images/ENGEL105.png" %}" alt="ENGEL105" width="180"/></td>
                    <td><a href="{% url 'forms' %}?subjectID=ENGEL106"><img src="{% static "images/ENGEL106.png" %}" alt="ENGEL106" width="180"/></td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
      </div>
        <div class="footer">
          ส่วนหนึงของรายวิชาโครงการ
        </div>
    </div>
  </body>
{% endblock content %}